body {
  animation: fadeIn 1s linear;
  background-color: black;
  /*use flex to align content*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*Animation*/
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
/*by tag*/
input[type=text] {
  color:white;
  outline:transparent;
  font-size:2em;
  text-align: center;
  text-shadow: 2px 4px 5px rgba(0,0,0,.2);
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: solid white thin;
  background-color: transparent;
  box-shadow:  0px 2px 2px -2px rgba(0,0,0,0.5);
}
input::placeholder {
  color:white;
} 
button {
  background-color: transparent;
  border:none;
  outline:transparent;
}
/*by class*/
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; 
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
.clock {
  margin-top:5%;
  font-size: 10em;
  color:white;
  text-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}
.user-name {
  margin-bottom:1em;
}
.user-name span {
  color:white;
  font-size: 2em;
  text-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}
.todo-list {
  margin-bottom:1em;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.todo-list li {
  color:white;
  text-shadow: 2px 4px 5px rgba(0,0,0,1);
  margin-left:-2em;
}
.todo-list span {
  display:inline-block;
  min-width:5em;
  max-width:30em;
  text-align:center;
  font-size:1.5em;
}
.todo-list input{
  font-size:1em;
}
.todo-list input::placeholder {
  color:rgba(255,255,255,0.5);
}
.todo-list button {
  margin:.5em;
}
.weather{
  color:white;
  font-size:1em;
  display:flex;
  flex-direction: column-reverse;
  align-items:center;
}
.weatherIcon {
  width:7em;
  height:7em;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.resetter {
  padding:1em;
}
/*Visualization control*/
.appear {
  display: block;
}
.disappear {
  display: none;
}
